[Desktop Entry]
Name=Manual tiling
Comment=Tile windows clicking in a grid. Like divvy for mac os.
Icon=preferences-system-windows-script-test

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=true
X-KDE-ConfigModule=kwin/effects/configs/kcm_kwin4_genericscripted

X-KDE-PluginInfo-Author=Federico Scodelaro
X-KDE-PluginInfo-Email=federicoscodelaro@gmail.com
X-KDE-PluginInfo-Name=manualtiling
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
